<h1>What's expiring in the next week?</h1>
<%= link_to '-', goods_threedays_path %> <%= link_to '+', goods_index_path %>

<table>
  <tr>
    <th>Item</th>
    <th>Expires</th>
  </tr>

  <% @goods.each do |good| %>
      <tr>
        <td><%= link_to good.product, good_path(good) %></td>
        <td><%= good.expirationDate.strftime("%A, %B %d") %></td>
        <td><%= link_to 'X', good_path(good), method: :delete %>
        </td>      </tr>
  <% end %>
</table>

<%= link_to 'Add', new_good_path %>